.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.grad4 {
  background: linear-gradient(
    to right,
    rgb(248, 248, 251) 0%,
    rgb(240, 239, 245) 47%,
    rgb(3, 0, 15) 84%,
    rgb(4, 0, 16) 100%
  ) !important;
}
.navbar{
  height: 10vh;
  border: none;
  border-radius: 2%;
  /* margin-bottom: 40px; */
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
}




header{
  width: 100%;
  line-height: 10vh;
   display: inline-block;
  /* background-color:#6c5ce7; */
  background-color:whitesmoke;
}
.k{
justify-content: right;
}
h1{
  text-align: center;
  color: black;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 18px;
  text-shadow: 0 1px 0 #efefef,
               0 2px 0 #efefef,
  0 3px 0 #efefef,
  0 4px 0 #efefef,
  0 30px 5px rgba(0,0,0,.1);
  font-family: 'Bungee Spice', cursive;
}
section{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
 
  background-color:black;
  
}
.gameArea{
   width: 50%;
 
  height : 400px;
  padding: 55px 0;
  font-family: 'Source Sans Pro', sans-serif;
  
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 9px 10px -4px whitesmoke;
  border-radius: 50px;
}
h3{
  text-align: center;
  font-size: 1.5rem;
}
input{
  width: 40%;
  padding: 15px 0;
  text-align: center;
  border-radius:25px;
  outline: none;
  border: solid black;
  background-color: whitesmoke;
  color: lightslategray;
  margin: 2rem 0;
  font-size: 1.1rem;
}

button{
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border: #2f3542;
  text-decoration: none;
  margin-top: 10px;
  color: #f4100c;
  border-radius: 5px;

}
button.btn{
  font-weight: 600;
  padding: 1rem 2rem;
  background: white;
  text-transform: uppercase;
  transition-property: all;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.65, -0.25, 0.25, 1.95);
}
button.btn:hover,button.btn:focus,button.btn:active{
  letter-spacing: 0.125rem;
  word-spacing: 0.2rem;
}
.hidden{
  display: none;
}
hr{
  color: rgb(9, 9, 9);
  width: 100%;
  height: 3px;
  box-shadow: 0 20px 20px -20px rgb(196, 31, 31);
  box-shadow: 0 9px 10px -4px whitesmoke;
}
h3{
  color:black;
}